@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px !important;
    }
}

@font-face {
    font-family: 'iconfont';  /* Project id 2949893 */
    src: url('//at.alicdn.com/t/font_2949893_na0yjegq3w.woff2?t=1637391540559') format('woff2'),
    url('//at.alicdn.com/t/font_2949893_na0yjegq3w.woff?t=1637391540559') format('woff'),
    url('//at.alicdn.com/t/font_2949893_na0yjegq3w.ttf?t=1637391540559') format('truetype');
}

.iconfont{
    font-family:"iconfont" !important;
    font-style:normal;
    font-size:25px;
    color: #007bff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.mybt2{
    border-top: 4px solid #007bff;
}

.w-0 {
    width: 0;
    min-width: 0;
}

.lang-btn:before {
    content: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' viewBox='0 0 24 24'><path d='M0 0h24v24H0z' fill='none'></path><path d='M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z' fill='%23ffffff' class='css-c4d79v'></path></svg>");
    display: inline-block;
    width: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
}

@media (min-width: 1200px) {
    .w-xl-300 {
        width: 300px;
    }
}
body {
    -webkit-font-smoothing: antialiased;
}

nav .nav-link{
    font-weight: 400;
    color: #0001111 !important;
}


nav .active .nav-link{
    color: #006ee3 !important;
}

.num-card {
    width: 3rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 4px;
}

.num-card-answer {
    border: 1px solid #318ffe;
    background: #f5faff;
    color: #318ffe;
    font-weight: 500;
}


.f14 {
    font-size: .875rem!important;
}

.f13 {
    font-size: .813rem!important;
}

.reply-list li:last-child {
    border-bottom: none !important;
}

.parsedReply p:last-child {
    /*margin-bottom: 0 !important;*/
}

.contribute .position-absolute {
    right: 0;
    top: -1.75rem;
}

.markdown img {
    max-width: 100%;
    height: auto;
}

.personal-container .userinfo .avatar {
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    border: 4px solid #fff;
    box-sizing: border-box;
}

.personal-container .userinfo .head {
    height: 104px;
    background-color: #6c757d;
    color: hsla(0,0%,100%,.5);
}


.card-body {
    word-break:break-all;
}

.alert-background {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:10001;
}

.alert-background .alert {
    z-index:10001;
}

a {
    cursor: pointer !important;
}

.badge-count {
    position: absolute;
    top:-5px;
    right:-5px;
}

.badge-dot {
    position: absolute;
    top:2px;
    right:0;
    display: inline-block;
    padding: 3px;
    border-radius: 100%;
    background-color: #dc3545;
}

li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:decimal !important;}

pre.prettyprint {
    border: none !important;
}

 pre.prettyprint {
    margin: 10px 0;
    padding: 16px;
    line-height: 20px;
    overflow: hidden;
    border: none;
    border-radius: 3px;
    background-color: #f7f7f7;
    font-size: 14px;
    font-family: monospace;
    white-space: pre-wrap;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: 1rem !important;
    font-weight: 400;
    line-height: 1.5;
    color: #212529 !important;
    text-align: left;
    background-color: #fff;
}


.wm_h1 {
    font-family: "Google Sans",sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    color: #425066;
}

.wm_h2 {
    font-family: "Google Sans",sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    color: #425066;
}

.wm_desc {
    font-size: 20px;
    line-height: 30px;
    color: #425066;
}

.f50 {
    font-size: 50px;
}

.f45 {
    font-size: 45px;
}

.github-corner {
    border-bottom: 0;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 60px;
    z-index: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    box-sizing: border-box;
    max-height: 200px;
    max-width: 200px;
    fill: #007bff;
    color: #f8f9fa!important;
}

.box-left {
    height:60px;width:60px;font-size:45px;background:rgb(134, 142, 150);color:#fff;line-height:100%
}

.markdown-section {
    width: 80%;
}

.markdown.markdown-section {
    margin: auto !important;
    max-width: 100%;
    width: 100% !important;
    padding: 0 !important;
}
s
.search em {
    color: red;
    font-style: normal !important;
}

em{
    color: red;
    font-style: normal;
}

a em {
    color: red;
}

a:hover em {
    color: #333;
}

/*github*/
.github-btn {
    height: 20px;
    overflow: hidden
}

.gh-btn,.gh-count,.gh-ico {
    float: left;
    font-weight: 700;
}

.gh-btn,.gh-count {
    padding: 2px 5px 2px 4px;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 3px
}

.gh-btn {
    background-color: #eee;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fcfcfc),to(#eee));
    background-image: linear-gradient(to bottom,#fcfcfc 0,#eee 100%);
    background-repeat: no-repeat;
    border: 1px solid #d5d5d5
}

.gh-btn:focus,.gh-btn:hover {
    text-decoration: none;
    background-color: #ddd;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),to(#ddd));
    background-image: linear-gradient(to bottom,#eee 0,#ddd 100%);
    border-color: #ccc
}

.gh-btn:active {
    background-color: #dcdcdc;
    background-image: none;
    border-color: #b5b5b5;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15)
}

.gh-ico {
    width: 14px;
    height: 14px;
    margin-right: 4px;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='12 12 40 40'%3e%3cpath fill='%23333' d='M32 13.4c-10.5 0-19 8.5-19 19 0 8.4 5.5 15.5 13 18 1 .2 1.3-.4 1.3-.9v-3.2c-5.3 1.1-6.4-2.6-6.4-2.6-.9-2.1-2.1-2.7-2.1-2.7-1.7-1.2.1-1.1.1-1.1 1.9.1 2.9 2 2.9 2 1.7 2.9 4.5 2.1 5.5 1.6.2-1.2.7-2.1 1.2-2.6-4.2-.5-8.7-2.1-8.7-9.4 0-2.1.7-3.7 2-5.1-.2-.5-.8-2.4.2-5 0 0 1.6-.5 5.2 2 1.5-.4 3.1-.7 4.8-.7 1.6 0 3.3.2 4.7.7 3.6-2.4 5.2-2 5.2-2 1 2.6.4 4.6.2 5 1.2 1.3 2 3 2 5.1 0 7.3-4.5 8.9-8.7 9.4.7.6 1.3 1.7 1.3 3.5v5.2c0 .5.4 1.1 1.3.9 7.5-2.6 13-9.7 13-18.1 0-10.5-8.5-19-19-19z'/%3e%3c/svg%3e") 0 0/100% 100% no-repeat;
}

.gt-ico {
    width:14px;
    height: 14px;
    margin-right: 4px;
    background: url("/img/gitee.svg") 0 0/100% 100% no-repeat !important;
}

.gh-count {
    position: relative;
    display: none;
    margin-left: 4px;
    background-color: #fafafa;
    border: 1px solid #d4d4d4
}

.gh-count:focus,.gh-count:hover {
    color: #0366d6
}

.gh-count::after,.gh-count::before {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    border-color: transparent;
    border-style: solid
}

.gh-count::before {
    top: 50%;
    left: -3px;
    margin-top: -4px;
    border-width: 4px 4px 4px 0;
    border-right-color: #fafafa
}

.gh-count::after {
    top: 50%;
    left: -4px;
    z-index: -1;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #d4d4d4
}

.github-btn-large {
    height: 30px
}

.github-btn-large .gh-btn,.github-btn-large .gh-count {
    padding: 3px 10px 3px 8px;
    font-size: 16px;
    line-height: 22px;
    border-radius: 4px
}

.github-btn-large .gh-ico {
    width: 20px;
    height: 20px
}

.github-btn-large .gh-count {
    margin-left: 6px
}

.github-btn-large .gh-count::before {
    left: -5px;
    margin-top: -6px;
    border-width: 6px 6px 6px 0
}

.github-btn-large .gh-count::after {
    left: -6px;
    margin-top: -7px;
    border-width: 7px 7px 7px 0
}

/*github end*/

.badge-lite2 {
    color: #5c5c5c;
    background-color: #e9e9e9;
}

.CodeMirror-gutter-wrapper {
    word-wrap: normal;
    word-break: normal;
}